<div class="innerContainer">
	<h3 class="title">Users</h3>
	<hr></hr>
	<!-- <jhi-alert></jhi-alert> -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-4 no-padding-left">
				<button class="btn btn-primary" ui-sref="user.new">
					<a href="#/user/"><span class="glyphicon glyphicon-plus"></span> <span
						class="hidden-xs"> Create new User </span></a>
				</button>
			</div>
			<div class="col-xs-8 no-padding-right">
				<form name="searchForm" class="form-inline">
					<div class="input-group pull-right">
						<input type="text" class="form-control" ng-model="vm.searchQuery"
							id="searchQuery" placeholder="Query"> <span
							class="input-group-btn width-min">
							<button class="btn btn-user" ng-click="vm.search(vm.searchQuery)">
								<span class="glyphicon glyphicon-search"></span>
							</button>
						</span> <span class="input-group-btn width-min" ng-if="vm.currentSearch">
							<button class="btn btn-user" ng-click="vm.clear()">
								<span class="glyphicon glyphicon-trash"></span>
							</button>
						</span>
					</div>
				</form>
			</div>
		</div>
	</div>
	<br />
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th><span>ID</span></th>
					<th><span>User Name</span></th>
					<th><span>Email Id</span></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="user in vm.users track by user.id">
					<td><a href="#/user/{{user.id}}">{{user.id}}</a></td>
					<td>{{user.fullName}}</td>
					<td>{{user.emailId}}</td>
					<td class="text-right">
						<div class="btn-group flex-btn-group-container">
							<button type="submit" ui-sref="user-detail({id:user.id})"
								class="btn btn-user btn-sm">
								<span class="glyphicon glyphicon-eye-open"></span> <span
									class="hidden-xs hidden-sm"></span>
							</button>
							<button type="submit" ui-sref="user.edit({id:user.id})"
								class="btn btn-primary btn-sm">
								<span class="glyphicon glyphicon-pencil"></span> <span
									class="hidden-xs hidden-sm"></span>
							</button>
							<button type="submit" ui-sref="user.delete({id:user.id})"
								class="btn btn-danger btn-sm">
								<span class="glyphicon glyphicon-remove-circle"></span> <span
									class="hidden-xs hidden-sm"></span>
							</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
