<div class="container">
	<form id="responsibilityForm" name="myForm" novalidate="" ng-controller="adminResponsibilityController">

		<div class="row" id="resField">
			<div class="form_group" style="float: left">
				<label>Name</label> <input type="text" name="respName"
					id="field_name" ng-model="vm.responsibility.respName" ng-required="true" />
				<div style="color: red"
					ng-show="myForm.respName.$dirty && myForm.respName.$invalid">
					<span ng-show="myForm.respName.$error.required">Name is
						required.</span>
				</div>
			</div>


			<div class="form_group" style="float: right">
				<label class="col-lg-4 col-form-label">Description</label>

				<textarea col="40" rows="3" name="description"
					id="field_description" ng-model="vm.responsibility.description"
					style="margin-left: 7px"> </textarea>
			</div>
		</div>
		<div class="row" id="resField">
			<div class="form_group">
				<label class="col-lg-4 col-form-label">Menu</label> <select
					class="form-control" id="field_menu" name="osiMenus"
					ng-model="vm.responsibility.osiMenus"
					ng-options="menu as menu.menuName for menu in vm.allMenu" ng-required="true">
					<option value=""></option>
				</select> <span style="color: red"
					ng-show="myForm.osiMenus.$dirty && myForm.osiMenus.$invalid">
					<span ng-show="myForm.osiMenus.$error.required">Menu is
						required.</span>
				</span>

			</div>


		</div>
		<div class="row" id="resField">
			<div class="col-md-6">
				<div class="form-group">
					<label class="control-label" for="field_sdate">Start date</label>
					<div class="input-group">
						<input id="field_sdate" type="text" class="form-control"
							name="sdate" uib-datepicker-popup="yyyy-MM-dd"
							ng-model="vm.responsibility.startDate" is-open="vm.datePickerOpenStatus.sdate" />
						<span class="input-group-btn">
							<button type="button" class="btn btn-default"
								ng-click="vm.openCalendar('sdate')">
								<i class="glyphicon glyphicon-calendar"></i>
							</button>
						</span>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label class="control-label" for="field_edate">End date</label>
					<div class="input-group">
						<input id="field_edate" type="text" class="form-control"
							name="edate" uib-datepicker-popup="yyyy-MM-dd"
							ng-model="vm.responsibility.endDate" is-open="vm.datePickerOpenStatus.edate" />
						<span class="input-group-btn">
							<button type="button" class="btn btn-default"
								ng-click="vm.openCalendar('edate')">
								<i class="glyphicon glyphicon-calendar"></i>
							</button>
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row" id="resField">
			<div style="float: right">
				<button type="submit"
					ng-disabled="myForm.respName.$dirty && myForm.respName.$invalid ||
				myForm.osiMenus.$dirty && myForm.osiMenus.$invalid|| myForm.$invalid"
					class="btn btn-primary" ng-click="vm.save()">
					<span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
				</button>
				<button type="button" class="btn btn-default" data-dismiss="modal"
					ng-click="vm.clear()">
					<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
				</button>
			</div>
		</div>
	</form>
</div>